In [72]:
import pandas as pd
df = pd.read_csv(r"C:\Users\prava\Downloads\Sales Dataset.csv")
missing_values = df.isnull().sum()
print(missing_values)
print (df)

Order ID        0
Amount          0
Profit          0
Quantity        0
Category        0
Sub-Category    0
PaymentMode     0
Order Date      0
CustomerName    0
State           0
City            0
Year-Month      0
dtype: int64
     Order ID  Amount  Profit  Quantity         Category      Sub-Category  \
0     B-26776    9726    1275         5      Electronics  Electronic Games
1     B-26776    9726    1275         5      Electronics  Electronic Games
2     B-26776    9726    1275         5      Electronics  Electronic Games
3     B-26776    4975    1330        14      Electronics          Printers
4     B-26776    4975    1330        14      Electronics          Printers
...       ...     ...     ...       ...              ...               ...
1189  B-26370    8825    3594        15        Furniture            Tables
1190  B-26371    2082     642         8      Electronics            Phones
1191  B-26372    2082     642         8      Electronics            Phones
1192  B-26298    2082     642         8      Electronics            Phones
1193  B-25068     914     163        13  Office Supplies           Markers

     PaymentMode  Order Date        CustomerName     State           City  \
0            UPI  27-06-2023       David Padilla   Florida          Miami
1            UPI  27-12-2024       Connor Morgan  Illinois        Chicago
2            UPI  25-07-2021        Robert Stone  New York        Buffalo
3            UPI  27-06-2023       David Padilla   Florida          Miami
4            UPI  27-12-2024       Connor Morgan  Illinois        Chicago
...          ...         ...                 ...       ...            ...
1189  Debit Card  31-07-2024        Megan Mclean  New York  New York City
1190         EMI  02-06-2020        Caitlin Hunt  New York      Rochester
1191         EMI  15-12-2022       Jenna Holland     Texas         Austin
1192         EMI  07-08-2020  Stephanie Oconnell  New York        Buffalo
1193         UPI  26-10-2024         Andrea Hill  Illinois        Chicago

     Year-Month
0       2023-06
1       2024-12
2       2021-07
3       2023-06
4       2024-12
...         ...
1189    2024-07
1190    2020-06
1191    2022-12
1192    2020-08
1193    2024-10

[1194 rows x 12 columns]

In [74]:
df.drop_duplicates(inplace=True)
print(df.drop_duplicates)

<bound method DataFrame.drop_duplicates of      Order ID  Amount  Profit  Quantity         Category      Sub-Category  \
0     B-26776    9726    1275         5      Electronics  Electronic Games
1     B-26776    9726    1275         5      Electronics  Electronic Games
2     B-26776    9726    1275         5      Electronics  Electronic Games
3     B-26776    4975    1330        14      Electronics          Printers
4     B-26776    4975    1330        14      Electronics          Printers
...       ...     ...     ...       ...              ...               ...
1189  B-26370    8825    3594        15        Furniture            Tables
1190  B-26371    2082     642         8      Electronics            Phones
1191  B-26372    2082     642         8      Electronics            Phones
1192  B-26298    2082     642         8      Electronics            Phones
1193  B-25068     914     163        13  Office Supplies           Markers

     PaymentMode  Order Date        CustomerName     State           City  \
0            UPI  27-06-2023       David Padilla   Florida          Miami
1            UPI  27-12-2024       Connor Morgan  Illinois        Chicago
2            UPI  25-07-2021        Robert Stone  New York        Buffalo
3            UPI  27-06-2023       David Padilla   Florida          Miami
4            UPI  27-12-2024       Connor Morgan  Illinois        Chicago
...          ...         ...                 ...       ...            ...
1189  Debit Card  31-07-2024        Megan Mclean  New York  New York City
1190         EMI  02-06-2020        Caitlin Hunt  New York      Rochester
1191         EMI  15-12-2022       Jenna Holland     Texas         Austin
1192         EMI  07-08-2020  Stephanie Oconnell  New York        Buffalo
1193         UPI  26-10-2024         Andrea Hill  Illinois        Chicago

     Year-Month
0       2023-06
1       2024-12
2       2021-07
3       2023-06
4       2024-12
...         ...
1189    2024-07
1190    2020-06
1191    2022-12
1192    2020-08
1193    2024-10

[1194 rows x 12 columns]>

In [86]:

df['City'] = df['City'].str.title().str.strip()
print(df['City'])

0               Miami
1             Chicago
2             Buffalo
3               Miami
4             Chicago
            ...
1189    New York City
1190        Rochester
1191           Austin
1192          Buffalo
1193          Chicago
Name: City, Length: 1194, dtype: object

In [76]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
print (df.columns)

Index(['order_id', 'amount', 'profit', 'quantity', 'category', 'sub-category',
       'paymentmode', 'order_date', 'customername', 'state', 'city',
       'year-month'],
      dtype='object')

In [82]:
df['order_date'] = pd.to_datetime(df['order_date'], format='%d-%m-%Y')
print(df['order_date'])

0      2023-06-27
1      2024-12-27
2      2021-07-25
3      2023-06-27
4      2024-12-27
          ...
1189   2024-07-31
1190   2020-06-02
1191   2022-12-15
1192   2020-08-07
1193   2024-10-26
Name: order_date, Length: 1194, dtype: datetime64[ns]

In [88]:
df.describe()

            Amount       Profit     Quantity
count  1194.000000  1194.000000  1194.000000
mean   5178.089615  1348.992462    10.674204
std    2804.921955  1117.992573     5.777102
min     508.000000    50.000000     1.000000
25%    2799.000000   410.000000     6.000000
50%    5152.000000  1014.000000    11.000000
75%    7626.000000  2035.000000    16.000000
max    9992.000000  4930.000000    20.000000

In [106]:
df.value_counts('Category')

Category
Furniture          407
Office Supplies    399
Electronics        388
Name: count, dtype: int64

In [112]:
data = df.drop_duplicates('Order ID')
print(data)

     Order ID  Amount  Profit  Quantity         Category      Sub-Category  \
0     B-26776    9726    1275         5      Electronics  Electronic Games
6     B-26942    1525     185        12  Office Supplies              Pens
8     B-26640     883     117        10      Electronics           Laptops
10    B-25890    2516     734        19        Furniture            Chairs
11    B-25102    2975     462        14  Office Supplies              Pens
...       ...     ...     ...       ...              ...               ...
1189  B-26370    8825    3594        15        Furniture            Tables
1190  B-26371    2082     642         8      Electronics            Phones
1191  B-26372    2082     642         8      Electronics            Phones
1192  B-26298    2082     642         8      Electronics            Phones
1193  B-25068     914     163        13  Office Supplies           Markers

      PaymentMode  Order Date        CustomerName       State           City  \
0             UPI  27-06-2023       David Padilla     Florida          Miami
6      Debit Card  11-05-2024         John Fields     Florida        Orlando
8             EMI  18-11-2022      Richard Kelley  California    Los Angeles
10            UPI  12-11-2023  Jacqueline Hubbard    New York  New York City
11    Credit Card  23-03-2020    Jessica Anderson    New York  New York City
...           ...         ...                 ...         ...            ...
1189   Debit Card  31-07-2024        Megan Mclean    New York  New York City
1190          EMI  02-06-2020        Caitlin Hunt    New York      Rochester
1191          EMI  15-12-2022       Jenna Holland       Texas         Austin
1192          EMI  07-08-2020  Stephanie Oconnell    New York        Buffalo
1193          UPI  26-10-2024         Andrea Hill    Illinois        Chicago

     Year-Month
0       2023-06
6       2024-05
8       2022-11
10      2023-11
11      2020-03
...         ...
1189    2024-07
1190    2020-06
1191    2022-12
1192    2020-08
1193    2024-10

[549 rows x 12 columns]